body, html {
    height: 200%;
    margin: 0;
    font-family: Arial, sans-serif;
}

.parent {
    width: 100%;
    height: 100vh;
    border: 2px solid rgb(255, 0, 0);
    overflow: hidden;
    background-color: #f0f0f0;
    position: relative;
}

.child {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #4caf50;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateY(100%);
    transition: transform 0.5s ease-in-out;
    margin: auto;
}

.child.show {
    transform: translateY(0);
}
