@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Alex+Brush&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Alex+Brush&family=Antic&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap");

:root {
  --title-font: "Montserrat", sans-serif;
  --primary-font: "Noto Sans", sans-serif;
  --secondary-font: "Alex Brush", cursive;
  --third-font: "Antic", sans-serif;
}

/* Contents */
.contents {
  width: 100%;
  /* border: 2px solid rgb(2, 14, 255); */
  /* display: none; */
  margin-top: 0;
  overflow: hidden;
}

/* Hero ------------------------------------------------------------------*/
.hero-image-container {
  width: 100%;
  height: 100vh;
  position: relative;
  background-position: center;
  background-size: cover;
/*   background-image: url("/assets/images/photos/hero-image-01.jpg"); */
  animation: heroBlurAnimation;
  animation-duration: 30s;

  animation-iteration-count: infinite;
  /* border: 2px solid red; */
}

.hero-content {
  position: absolute;
  /* border: 2px solid red; */
  max-width: 80%;
  padding: 20px;
  height: auto;
  border-radius: 20px;
  background-color: rgba(0, 0, 0, 0.675);
  cursor: default;

  right: 20px;
  bottom: 80px;

  animation-name: hero-content-animation;
  animation-duration: 4s;
  animation-iteration-count: initial;
}

@media (max-width: 380px) {
  .hero-content {
    min-width: 100%;
    right: 0px;
    bottom: 20px;
  }
}

.hero-content > h2 {
  color: whitesmoke;
  font-family: var(--primary-font);
  text-align: center;
}

.hero-content > h3 {
  color: antiquewhite;
  font-family: var(--secondary-font);
  font-weight: 200;
  font-size: 1.5rem;
}

/* Landing One --------------------------------------------------------------*/

.landing-one {
  width: 100%;
  min-height: 50vh;
  margin: 30px 0px 30px 0px;
  /* border: 2px solid green; */
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  cursor: default;
}

.landing-one > h2 {
  text-align: center;
  margin: auto;
  font-family: var(--third-font);
}

.landing-one > h3 {
  margin: auto;
  text-align: center;
  font-family: var(--secondary-font);
  margin-top: 20px;
  padding: 0px 60px 0px 60px;
}

/* Landing Two --------------------------------------------------------------*/
.landing-two {
  width: 100%;
  height: auto;
  margin: 30px 0px 30px px;
  /* border: 2px solid blue; */
}

.two-container-one,
.two-container-two {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.landing-image-01,
.landing-image-02 {
  width: 50%;
  object-fit: cover;
}

.two-content-container {
  /* border: 2px solid red; */
  padding: 20px;
  cursor: default;
}

.animation-right {
  animation-name: content-horizontal-right;
  animation-duration: 4s;
  animation-iteration-count: initial;
}

.animation-left {
  animation-name: content-horizontal-left;
  animation-duration: 4s;
  animation-iteration-count: initial;
}
.two-content-container > h2 {
  /* border: 2px solid blue; */
  text-align: center;
  font-family: var(--primary-font);
  font-weight: 800;
  font-style: italic;
  font-size: x-large;
  margin: 20px;
}

.two-content-container > h3 {
  /* border: 2px solid greenyellow; */
  text-align: start;
  font-family: var(--third-font);
  margin: 20px;
}

.two-content-container > h4 {
  /* border: 2px solid green; */
  font-family: var(--secondary-font);
  margin: 20px;
}

@media (max-width: 820px) {
  .two-container-one,
  .two-container-two {
    display: flex;
    flex-direction: column;
  }

  .two-container-two {
    flex-direction: column-reverse;
  }
  .landing-image-01,
  .landing-image-02 {
    height: 100vh;
    max-width: auto;
    min-width: 100%;
  }
}

/* Founder ------------------------------------------------------------------*/

.founder-container {
  width: 100%;
  /* border: 2px solid red; */

  padding: 60px 0px 70px 0px;
}

.founder-main {
  width: 80%;
  height: 90%;
  border-radius: 20px;
  background-color: #000000ba;
  margin: auto;
  display: flex;
  flex-direction: row;
  padding: 25px;
  align-items: center;
  justify-content: space-around;
}

.founder-image {
  width: 150px;
  height: auto;

  border-radius: 25%;
}

.founder-words {
  /* border: 2px solid green; */
  padding: 20px;
  padding-left: 60px;
}

.founder-words > h4 {
  color: whitesmoke;
  font-family: var(--secondary-font);
  word-spacing: 3px;
  font-size: xx-large;
}

.founder-words > h5 {
  color: whitesmoke;
  font-family: var(--primary-font);
  font-weight: 100;
  word-spacing: 3px;
}

@media (max-width: 780px) {
  .founder-main {
    display: flex;
    flex-direction: column;
  }
  .founder-words {
    padding-left: 0px;
    padding: 0px;
    /* border: 2px solid green; */
  }


}
/* Footer ------------------------------------------------------------------*/

.text-center {
  text-align: center !important;
}
.text-muted {
  color: #6c757d !important;
}
.d-flex {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
}

.text-center a {
  text-decoration: none;
}
/* Animations -----------------------------------------------------------*/

@keyframes hero-content-animation {
  0% {
    transform: translateY(-1000px);
  }
  100% {
    transform: translateY(0px);
  }
}

@keyframes content-horizontal-right {
  0% {
    transform: translateX(-1000px);
  }
  100% {
    transform: translateX(0px);
  }
}

@keyframes content-horizontal-left {
  0% {
    transform: translateX(1000px);
  }
  100% {
    transform: translateX(0px);
  }
}
@keyframes heroBlurAnimation {
  0% {
    background-image: url("/assets/images/photos/hero-image-01.jpg");
  }
  25% {
    background-image: url("/assets/images/photos/hero-image-02.jpg");
  }
  50% {
    background-image: url("/assets/images/photos/hero-image-03.jpg");
  }
  75% {
    background-image: url("/assets/images/photos/hero-image-04.jpg");
  }
  100% {
    background-image: url("/assets/images/photos/hero-image-05.jpg");
  }
}
